{% extends 'base_form.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <h1 style="text-align: center; margin-top: 50px">Encuesta</h1>
    <div class="ui middle aligned center aligned grid ">
        <div id="" class="column">
            <form class="ui large form" action="" method="POST">
                {% csrf_token %}
                <div class="ui stacked segment">
                    <div class="field">

                            {{ formset.as_p }}
                            {{ formset.errors }}
                    </div>
                    <div class="ui buttons">
                        <button style="background-color: #35BB9B" type="submit" class="ui button">Guardar</button>
                        <div class="or"></div>
                        <button type="reset" class="ui button">Cancelar</button>
                    </div>
                </div>
            </form>
            {% if pk %}
            <div class="ui large">
                    <a href="{% url 'ReporteEncuestaPDF' pk %}">
                        <div style="background-color: #35B" class="ui fluid large button">Exportar</div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}